
<app-header>
  <img  header-img src="img/bird.png" alt="Logo">
  <h1 header-title > {{ 'Product list' | cambiarTexto}} </h1>
  <button  header-btn (click)="changeStyleItems()">Change colors</button>
</app-header>


<div class="product-page">

  <!-- Chhild 1-->
  <app-form-product (newProduct)="addProduct($event)"></app-form-product>

  <a href="https://theuselessweb.com/" appLinkStyle target="_blank">Random web site</a>

  <!-- Chhild 2-->
   <!-- Variable name = itemProduct-->
  <div class="product-list" *ngIf="arrayProducts.length > 0; else noProducts" >
    <app-list-product 
      *ngFor="let productP of arrayProducts"
      [product]="productP"
      (idProduct)="removeProduct($event)"
    ></app-list-product>
  </div>

  <ng-template #noProducts>
    <div class="empty">No products added yet 🧺</div>
  </ng-template>
</div>
