
<app-header>
  <img  header-left src="../assets/bird.png" alt="Logo">
  <h1 header-center>Product list</h1>
  <button  header-right (click)="changeStyleItems()">Change colors</button>
</app-header>


<div class="product-page">
  
  <!-- Chhild 1-->
  <app-form-product (newProduct)="addProduct($event)"></app-form-product>

  <!-- Chhild 2-->
  <div class="product-list" *ngIf="arrayProducts.length > 0; else noProducts">
    <app-list-product
      *ngFor="let productP of arrayProducts"
      [product]="productP"
      [color]="color"
      (idProduct)="removeProduct($event)"
    ></app-list-product>
  </div>

  <ng-template #noProducts>
    <div class="empty">No products added yet 🧺</div>
  </ng-template>
</div>
