<div class="login-container">
  <h2>Biblio</h2>

  <form [formGroup]="miFormulario" (ngSubmit)="send()">

    <!-- Email -->
    <label for="email">Email</label>
    <input formControlName="email" type="email" placeholder="Username or Email" id="email">
    
    <!-- Mensaje de error -->
    <p *ngIf="miFormulario.get('email')?.invalid && miFormulario.get('email')?.touched">
      El email es obligatorio o inválido
    </p>

    <!-- Password -->
    <label for="password">Password</label>
    <input formControlName="password" type="password" placeholder="Password" id="password">
    
    <!-- Mensaje de error -->
    <p *ngIf="miFormulario.get('password')?.invalid && miFormulario.get('password')?.touched">
      La contraseña debe tener mínimo 6 caracteres, incluyendo mayúscula, minúscula y número
    </p>

    <!-- Botón -->
    <button type="submit">Start</button>
  </form>
</div>
